// FOOTER STYLING
footer{
  width: 100%;
  min-height: 300px;
  border-top: solid #eee 2px;
  // background-color: #aaa;
  .top-footer{
    width: 90%;
    min-height: 250px;
    margin: 0 auto;
    // background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .footer-column{
      width: 300px;
      height: 200px;
      // background-color: green;
      margin: 15px auto;
      h2 {
        font-family: poppinsR;
        font-size: 18px;
      }
      p {
        font-family: poppinsL ;
        font-size: 11px;
      }
      h6 {
        font-family: poppinsL ;
        font-size: 11px;
      }
      p:hover {
        color: $site-red;
        cursor: pointer;
      }
      .email-holder{
        // background-color: blue;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        input{
          width: 80%;
          height: 50px;
          background-color: #eee;
          border: none;
          border-radius: 10px 0px 0px 10px;
          padding-left: 10px;
          font-family: poppinsR;
        }
        
        .email-submitbtn{
          width: 80px;
          height: 50px;
          background-color: $site-red;
          color: white;
          font-family: poppinsR;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          border-radius: 0px 10px 10px 0;
        }
        .email-submitbtn:hover{
          background-color: $site-darkred;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }
  }
  .bottom-footer{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: forestgreen;
    p{
      font-family: poppinsL;
      font-size: 10px;
    }
    .countries{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 450px;
      // margin-top: 30px;
      p {
        font-family: poppinsL;
      }
      p:hover{
        color: red;
        cursor: pointer;
        transition: 0.3s;
      }
    }
    
  }
}
@media (max-width: 700px) {
  footer{
    .bottom-footer{
      p{
        font-size: 10px;
      }
      .countries{
        width: 300px;
      }
    }
  }
}